body {
  margin: 0;
  background-color: #0D1117;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 25px;
  background-color: rgba(222, 255, 255, 0.486);

}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: #0D1117 1px solid;
}

.links {
  display: flex;
}

.links > a {
  margin-right: 25px;
  text-decoration: none;
}
