@font-face {
  font-family: 'Mark Pro';
  src: url('./fonts/markProHeavy.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  /* width: 0.4vw; */
  display: none;
}

/* ::-webkit-scrollbar-track {
  background: transparent;
} */

/* ::-webkit-scrollbar-thumb {
  background-color: rgba(99, 99, 99, 0.33);
  border-radius: 10px;
} */
/*------------------------------------------------- */


body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: #10101a;
}

#root {
  background-color: #10101a;
  height: 100vh;
  display: grid;
  place-items: center;
}

lottie-player {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  filter: saturate(80%);
}

#hero {
  position: relative;
  display: grid;
  min-height: 100vh;
  overflow: hidden;
  background-image: url('../public/astronautResized.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(175deg, rgba(40, 0, 40, 0.2) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(10, 0, 31, 0.8) 100%);
}

#about {
  min-height: 100vh;
  overflow: hidden;
  background-color: #10101a;
}

#project {
  padding-top: 125px;
  padding-bottom: 75px;
  background-color: #0D1117;
  /* border: skyblue 1px dashed; */
}

#content {
  padding: 150px 0px;
  background-color: #0b0f14;
  display: grid;
  place-items: center;
  /* border: gray 1px dashed; */
}

#contact {
  background-color: #10101a;
}

#project-page {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #0D1117;
}

/** ---------------------Header section--------------------- */
header {
  /* absolute to hero */
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 20px;
}

.nav--icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: rotate(30deg);
}

a:hover .nav--icon {
  transform: rotate(390deg);
  transition: 1s;
}

.nav--links {
  display: flex;
  padding: 20px 80px 20px 40px;
  /* background-color: rgba(255, 255, 255, 0.075); */
  background-color: #10101a91;
  border-radius: 2.5px;
  flex-wrap: wrap;
}

.nav--links a {
  color: rgb(255, 255, 255, 0.8);
  text-decoration: none;
  font-family: 'Mark Pro', sans-serif;
}

.nav--links a:not(:last-child) {
  margin-right: 30px;
}

.nav--links a:hover {
  color: rgb(200, 255, 255);
}

.nav--hamburger {
  display: none;
  background: transparent;
  border: transparent;
  filter: invert(100%);
  padding: 0;
}

.nav--hamburger.hide {
  display: none;
}

.nav--side-links {
  display: none;
}

/** ---------------------Header section--------------------- */

.hero--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 1;
}

.hero--container--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 125px;
}

.hero--container--text * {
  margin: 0;
  cursor: default;
}

.hero--container--text h1 {
  font-family: 'Mark Pro', sans-serif;
  font-size: 81px;
  line-height: 100%;
  letter-spacing: -.02em;
  color: rgba(255, 255, 255, 0.9);
}

.hero--container--text h1 span {
  background: linear-gradient(-45deg,skyblue, rgb(85, 72, 121), rgb(124, 84, 124), pink);
  background-size: 400% 400%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 6s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero--container--text p {
  margin-top: 10px;
  font-size: 19px;
  letter-spacing: 0.02em;
  opacity: 65%;
}

.hero--container--arrow {
  position: absolute;
	left: 50%;
	bottom: 5vh;
	display: block;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	width: 12px;
	height: 12px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation: fade_move_down 2s ease-in-out infinite;
	animation: fade_move_down 2s ease-in-out infinite;
}

/* for more clickable area */
.hero--container--arrow::before {
  content: "";
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
  background-color: transparent;
}

/* for hero--container--arrow animation */
@-webkit-keyframes fade_move_down {
    0% {
  -webkit-transform:translate(0, -10px) rotate(45deg);
  opacity: 0;
  }
    50% {
  opacity: 1;
  }
    100% {
  -webkit-transform:translate(0, 10px) rotate(45deg);
  opacity: 0;
  }
 }

 @-moz-keyframes fade_move_down {
    0% {
  -moz-transform:translate(0, -10px) rotate(45deg);
  opacity: 0;
  }
    50% {
  opacity: 1;
  }
    100% {
  -moz-transform:translate(0, 10px) rotate(45deg);
  opacity: 0;
  }
 }

 @keyframes fade_move_down {
    0% {
  transform:translate(0, -10px) rotate(45deg);
  opacity: 0;
  }
    50% {
  opacity: 1;
  }
    100% {
  transform:translate(0, 10px) rotate(45deg);
  opacity: 0;
  }
 }

 /**--------------------About section-------------------- */
.about--container {
  position: relative;
  height: 100vh;
  display: flex;
}

.about--container--globe {
  position: absolute;
  top: 60px;
  left: -300px;
  opacity: 20%;
  filter: saturate(150%);
  /* border: darkcyan 1px dashed; */
}

.about--container--intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 750px;
  /* border: gray 1px dashed; */
}

.about--container--intro--text {
  margin: 0 120px;
  padding-top: 50px;
}

.about--container--intro--text h1 {
  margin: 20px 0px 30px 0px;
  font-family: 'Mark Pro', sans-serif;
  line-height: 100%;
  letter-spacing: -.02em;
}

.about--container--intro--text p {
  opacity: 75%;
  margin: 20px 0px;
  letter-spacing: 0.02em;
}

.about--container--intro--text ul {
  display: flex;
  flex-wrap: wrap; /*used so that the items will wrap onto multiple lines if there is not enough space in a single line.*/
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 40px;
}

.about--container--intro--text li {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  cursor: default;
}

.about--container--intro--text li:hover {
  transform: scale(1.15);
  transition: 0.1s ease-in-out;
}
 /**--------------------About section-------------------- */


 /**--------------------Project section-------------------- */
.slideshow {
  position: relative;
  max-width: 1000px;
  height: 573.33px;
  margin-left: auto;
  margin-right: auto;
}

.slideshow--frame {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slideshow--slide {
  /* display: none; */
  position: absolute;
  top: 23px;
  left: 133.5px;
  width: 733px;
  height: 459px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slideshow--slide.active {
  /* display: block; */
  opacity: 1;
}

/* object-fit: cover for perfect aspect ratio */
/* make sure img aspect ratio matches slideshow aspect ratio */
.slideshow--slide--regular {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow--slide--smartphone {
  position: absolute;
  border-radius: 10px;
  top: 65px;
  right: -89px;
  aspect-ratio: 4.62 / 10;
  /* width: 220px; */
  height: 474px;
}

.buttons {
  text-align: center;
}

#project button {
  position: relative;
  border: none;
  background: none;
  color: white;
  margin: 55px;
  font-size: 15px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#project button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0%; /* Change to 0% so the underline starts as hidden */
  background: linear-gradient(-45deg, pink, skyblue);
}

#project button.active {
  position: relative;
}

#project button.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background: linear-gradient(-45deg, pink,skyblue);
  transition: width 0.5s ease-in-out;
}

#project button:hover {
  cursor: pointer;
  color: rgba(200, 255, 255);
  transition: 0.1s;
}
/**--------------------Project section-------------------- */


/** -------------------ProjectPage section------------------- */
.project-page--container {
  display: grid;
  place-items: center;
  padding: 200px 0px;
  /* border: white 1px dashed; */
}

.project {
  display: flex;
  width: 1000px;
  height: 400px;
  margin-bottom: 100px;
  border: rgba(255, 255, 255, 0.5) 1px solid;
  border-radius: 5px;
  overflow: hidden;
}

.project--image {
  position: relative;
}

.project:nth-child(1) .image-overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #101b2bba;
  pointer-events: none;
}

.project:nth-child(2) .image-overlay,
.project:nth-child(3) .image-overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.project:nth-child(5) .image-overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(45, 30, 45, 0.45);
  pointer-events: none;
  z-index: 1;
}

.project:nth-child(4) .image-overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 1;
}

.project img {
  width: 400px;
  height: 100%;
  object-fit: contain;
}

.project:nth-child(4) .globe {
  width: 400px;
  height: 100%;
  opacity: 90%;
  pointer-events: none;
}

.project:nth-child(5) img {
  transform: scale(0.5);
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: rgba(128, 128, 128, 0.8);
  color: rgba(255, 255, 255, 0.9);
  padding: 12px 24px;
  border: rgb(40, 40, 40) 2px solid;
  border-radius: 25px;
  transition: 0.4s;
}

.project a:hover .hover-text {
  opacity: 1;
  transition: 0.2s;
}

.project .project--text {
  display: flex;
  align-items: center;
  padding: 0px 30px;
}

.project .project--text * {
  margin: 0;
}

.project .project--text h1 {
  font-family: 'Mark Pro', sans-serif;
  font-size: 2em;
  margin-bottom: 15px;
}

.project .project--text p {
  opacity: 75%;
}

.project ul {
  display: flex;
  flex-wrap: wrap; /*used so that the items will wrap onto multiple lines if there is not enough space in a single line.*/
  padding: 0;
  margin-top: 15px !important;
  list-style: none;
  margin-top: 40px;
}

.project li {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  cursor: default;
}

.project li:hover {
  transform: scale(1.15);
  transition: 0.1s ease-in-out;
}
/** -------------------ProjectPage section------------------- */


/** --------------------Contents section-------------------- */
.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(9, 120px);
  grid-template-rows: repeat(12, 120px);
  gap: 10px;
  padding: 10px 0px;
  overflow: hidden;
  width: 100%;
  /* border: gray 2px solid; */
}

.grid-container > div {
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
}

.grid-container > div:hover {
  transform: scale(1.025);
  transition: 0.2s ease-in-out;
}

.grid-container--portrait {
  width: 380px;
  height: 510px;
  /* border: pink 1px dashed; */
}

/* object-fit property does not work on background-image */
.grid-container--portrait.first {
  position: relative;
  grid-row: 1 / 5;
  grid-column: 1 / 4;
  background-image: url('../public/grid/harimoto.jpg');
  background-position: right 0px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container--portrait.second {
  position: relative;
  grid-row: 5 / 9;
  grid-column: 7 / 10;
  background-image: url('../public/grid/cyberpunkPixel.gif');
  background-position: center;
  background-size: cover;
  filter: saturate(0%);
  transition: 0.8s;
}

.grid-container--portrait.third {
  position: relative;
  grid-row: 9 / 13;
  grid-column: 1 / 4;
  background-image: url('../public/grid/cityPixel.gif');
  background-position: center;
  background-size: cover;
  filter: saturate(0%);
  transition: 0.8s;
}

.grid-container--portrait.first::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: black;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.grid-container--portrait.first:hover::before {
  opacity: 0.6;
}

.grid-container--portrait.first--text {
  width: auto;
  height: 50px;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.grid-container--portrait.first:hover .grid-container--portrait.first--text {
  opacity: 1;
}

.grid-container--portrait.second:hover {
  filter: saturate(70%);
  transition: 0.4s;
}

.grid-container--portrait.third:hover {
  filter: saturate(100%);
  transition: 0.4s;
}

.grid-container--landscape {
  width: 510px;
  height: 250px;
  /* border: lavender 1px dashed; */
}

.grid-container--landscape.first {
  grid-row: 1 / 3;
  grid-column: 6 / 12;
  background-image: url('../public/grid/sakura.jpg');
  background-position: center;
  background-size: cover;
  transition: 0.4s ease-in-out;
}


.grid-container--landscape.second {
  grid-row: 3 / 5;
  grid-column: 4 / 8;
  background-image: url('../public/grid/doggos.jpg');
  background-position: center;
  background-size: cover;
  transition: 0.4s ease-in-out;
}

.grid-container--landscape.third {
  grid-row: 5 / 7;
  grid-column: 1 / 5;
  background-image: url('../public/grid/akihabaraClabo.jpg');
  background-position: bottom -50px right 0px;
  background-size: cover;
  transition: 0.4s ease-in-out;
}

.grid-container--landscape.fourth {
  grid-row: 7 / 9;
  grid-column: 3 / 7;
  background-image: url('../public/grid/akihabaraDrug.jpg');
  background-position: bottom -40px right 0px;
  background-size: cover;
  transition: 0.4s ease-in-out;
}

.grid-container--landscape.fifth {
  grid-row: 9 / 11;
  grid-column: 4 / 8;
  background-image: url('../public/grid/shinjukuWarm.jpg');
  background-position: bottom -30px right 0px;
  background-size: cover;
  transition: 0.4s ease-in-out;
}

.grid-container--landscape.sixth {
  grid-row: 11 / 13;
  grid-column: 6 / 11;
  background-image: url('../public/grid/allCandles.jpg');
  background-position: center;
  background-size: cover;
  filter: saturate(80%);
  transition: 0.4s ease-in-out;
}

.grid-container--landscape.first:hover {
  background-image: url('../public/grid/nightSakura.jpg');
  background-position: center;
  background-size: cover;
  transition: 0.4s ease-in-out;
}

.grid-container--landscape.second:hover {
  background-image: url('../public/grid/taxi.jpg');
  background-position: center;
  background-size: cover;
  transition: 0.4s ease-in-out;
}

.grid-container--landscape.third:hover {
  background-image: url('../public/grid/akihabaraKaikatsu.jpg');
  background-position: bottom -50px right 0px;
  background-size: cover;
  transition: 0.4s ease-in-out;
}

.grid-container--landscape.fourth:hover {
  background-image: url('../public/grid/akihabaraPawn.jpg');
  background-position: bottom -40px right 0px;
  background-size: cover;
  transition: 0.4s ease-in-out;
}

.grid-container--landscape.fifth:hover {
  background-image: url('../public/grid/shinjukuCool.jpg');
  background-position: bottom -30px right 0px;
  background-size: cover;
  transition: 0.4s ease-in-out;
}

.grid-container--landscape.sixth:hover {
  background-image: url('../public/grid/candleHand.jpg');
  background-position: center;
  background-size: cover;
  filter: saturate(70%);
  transition: 0.4s ease-in-out;
}

.grid-container--square {
  width: 250px;
  height: 250px;
  /* border: skyblue 1px dashed; */
}

.grid-container--square.first {
  grid-row: 1 / 3;
  grid-column: 4 / 6;
  background-image: url('../public/grid/shibuyaSunset.jpg');
  background-position: center;
  background-size: cover;
}

.grid-container--square.second {
  grid-row: 3 / 5;
  grid-column: 8 / 10;
  background-image: url('../public/grid/ramen.jpg');
  background-position: center;
  background-size: cover;
}

.grid-container--square.third {
  grid-row: 5 / 7;
  grid-column: 5 / 7;
  background-image: url('../public/grid/levelUp.jpg');
  background-position: top -30px right 10px;
  background-size: cover;
  filter: saturate(90%);
}

.grid-container--square.fourth {
  grid-row: 7 / 9;
  grid-column: 1 / 3;
  background-image: url('../public/grid/goodVibes.jpg');
  background-position: center;
  background-size: cover;
  filter: saturate(80%);
}

.grid-container--square.fifth {
  grid-row: 9 / 11;
  grid-column: 8 / 11;
  background-image: url('../public/grid/stargazer.jpg');
  background-position: center;
  background-size: cover;
  filter: saturate(50%);
}

.grid-container--square.sixth {
  grid-row: 11 / 13;
  grid-column: 4 / 6;
  background-image: url('../public/grid/astronautToy.jpg');
  background-size: cover;
  filter: saturate(75%);
  filter: brightness(75%);
}

/* a black icon inverted to white */
#content button {
  margin-top: 20px;
  padding: 0;
  background-color: transparent;
  border: transparent;
  filter: invert(100%);
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.button--down {
  transition: 0.3s ease-in-out;
  opacity: 80%;
}

.button--up {
  transition: 0.3s ease-in-out;
  opacity: 100%;
}

.button--down:hover {
  transform: scale(1.15) translateY(5px);
  opacity: 100%;
  transition: 0.15s ease-in-out;
}

.button--up:hover {
  transform: scale(0.85) translateY(-5px);
  opacity: 80%;
  transition: 0.15s ease-in-out;
}
/** --------------------Contents section-------------------- */


/**--------------------Contact section-------------------- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* padding: 0px 100px; */
}

footer h2 {
  margin: 0;
}

.footer--container {
  display: flex;
  justify-content: space-between;
  margin: 40px 200px;
}

.footer--container div:first-child * {
  margin-bottom: 10px;
}

.footer--container div h2 {
  margin-bottom: 5px;
  cursor: default;
}

.footer--container--first img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  transform: rotate(30deg);
}

.footer--container--first a:hover img {
  transform: rotate(390deg);
  transition: 1s;
}

.footer--container--second {
  display: flex;
  align-items: end;
}

.footer--container--second--links a {
  text-decoration: none;
  filter: saturate(0%);
  transition: filter 0.2s ease-in-out;
}

.footer--container--second--links a:not(:last-child) {
  margin-right: 15px;
}

.footer--container--second--links a:hover {
  filter: saturate(90%);
  transition: filter 0.1s ease-in-out;
}

.footer--container--second--links img {
  width: 26px;
  height: 26px;
}

.footer--end {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
  padding: 10px 0px;
  border-top: rgba(128, 128, 128, 0.128) 1px solid;
}

.footer--end * {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-decoration: none;
}

.footer--end p {
  margin: 0;
  cursor: default;
}

.footer--end a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.footer--end--links a:not(:last-child) {
  margin-right: 20px;
}
/**--------------------Contact section-------------------- */



/** --------------------RESPONSIVE DESIGN-------------------- */
@media (max-width: 600px) {
  .App {
    position: relative;
  }

  header {
    position: absolute;
  }

  nav {
    margin: 20px 20px 0 20px;
  }

  /* a:hover .nav--icon {
    transform: none;
    transition: none;
  } */

  .nav--links {
    display: none;
  }

  .nav--hamburger {
    display: block;
    z-index: 100;
  }

  .nav--hamburger img {
    width: 44px;
    height: 44px;
  }

  .nav--hamburger.active {
    position: fixed;
    z-index: 11; /* one more than .nav--side-links */
    top: 20px; /* adjust according to your design */
    right: 20px; /* adjust according to your design */
  }

  .nav--side-links {
    position: fixed;
    top: 0;
    right: -40vw;  /* Initially hidden to the right of the viewport */
    width: 40vw;
    height: 100vh;
    background-color: #10101af4;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
  }

  .nav--side-links a {
    font-family: 'Mark Pro', sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 24px;  /* Or any other size you find appropriate */
  }

  .nav--side-links:not(.hide) {
    right: 0;  /* Show the menu when the hide class is not applied */
    /* no need for display property to show and hide anymore */
  }

  .nav--side-links button {
    background-color: transparent;
    border: transparent;
  }

  .nav--side-links img {
    width: 44px;
    height: 44px;
    filter: invert(100%);
  }

  #hero {
    position: relative;
    display: grid;
    height: 100vh;
    overflow: hidden;
    background-image: url('../public/astronautMobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(170deg, rgba(40, 0, 40, 0.3) 0%, rgba(0, 0, 0, 0.9) 70%, rgba(10, 0, 31, 0.8) 100%);
  }

  .hero--container {
    grid-template-columns: none;
  }

  .hero--container--text {
    margin-inline: 20px;
  }

  .hero--container--text h1 {
    font-size: 55px;
  }

  .hero--container--text p {
    font-size: 15px;
    opacity: 50%;
  }

  /* .hero--container--arrow {
    width: 20px;
    height: 20px;
    left: 47.5%;
  } */

  .hero--container--arrow {
    display: none;
  }

  .about--container {
    height: auto;
    margin: 100px 0px;
  }

  .about--container--intro {
    margin: 0;
  }

  .about--container--intro--text {
    margin-inline: 20px;
    padding: 0;
  }

  .about--container--globe {
    top: 150px;
    left: -500px;
    pointer-events: none;
  }

  #project {
    display: grid;
    place-items: center;
    padding: 0;
    overflow: hidden;
    padding: 100px 0 0 0;
  }

  .slideshow {
    width: auto;
    height: 75vh;
    aspect-ratio: 4.62 / 10;
    border-radius: 10px;
    overflow: hidden;
    /* border: skyblue 1px dashed; */
  }

  .slideshow .slideshow--frame {
    display: none;
  }

  .slideshow--slide {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .slideshow--slide--regular {
    display: none;
  }

  .slideshow--slide--smartphone {
    position: static;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  #project .buttons button {
    display: none;
    margin: 50px 0 100px 0;
  }

  #project .buttons button:last-child {
    display: block;
    font-size: 16px;
  }

  #project button:hover,
  #project button:active,
  #project button:focus {
    color: white;
    cursor: default;
    transition: none;
  }

  #project button::after,
  #project button.active::after {
    content: none; /* This will remove the pseudo-element */
  }

  /* ---------------------------------------------------- */
  .project-page--container {
    padding: 200px 0 100px 0;
  }

  .project {
    flex-direction: column;
    width: 350px;
    height: auto;
  }

  .project .project--text *:not(li) {
    margin: 15px 0px;
  }

  .project .project--text h1 {
    margin-bottom: 0;
  }

  .project--image {
    position: relative;
    width: 350px;
    height: 350px;
  }

  .image-overlay {
    z-index: 10;
  }

  .project img,
  .project .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project:nth-child(5) img {
    transform: scale(0.6);
    object-fit: none;
  }

  .project:nth-child(4) .globe {
    position: absolute;
    top: -25px;
    left: -25px;
  }
/* ---------------------------------------------------- */

  #content {
    margin: 0;
    padding: 100px 20px;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-rows: auto-fill;
    gap: 5px;
  }

  .grid-container--portrait {
    width: auto;
    height: auto;
  }

  .grid-container--landscape {
    width: auto;
    height: auto;
  }

  .grid-container--square {
    width: auto;
    height: auto;
  }

  .grid-container--portrait.first,
  .grid-container--portrait.second,
  .grid-container--portrait.third {
    grid-column: span 1;
    grid-row: span 2;
  }

  .grid-container--landscape.first,
  .grid-container--landscape.second,
  .grid-container--landscape.third,
  .grid-container--landscape.fourth,
  .grid-container--landscape.fifth,
  .grid-container--landscape.sixth {
    grid-column: span 2;
    grid-row: span 1;
  }

  .grid-container--square.first,
  .grid-container--square.second,
  .grid-container--square.third,
  .grid-container--square.fourth,
  .grid-container--square.fifth,
  .grid-container--square.sixth {
    grid-column: span 1;
    grid-row: span 1;
  }

  .grid-container--portrait.first--text {
    width: 100px;
    height: auto;
  }

  /*! .button--down:hover, .button--up:hover {
    transform: none;
    opacity: inherit;
    transition: none;
  } */

  .footer--container {
    flex-direction: column;
    margin: 20px 20px 0 20px;
  }

  .footer--container--first {
    margin-bottom: 20px;
  }

  /*! .footer--container--first a:hover img {
    transform: none;
    transition: none;
  }

  .footer--container--second--links a:hover {
    filter: none;
    transition: none;
  } */

  .footer--end {
    flex-direction: column;
    margin: 20px 20px;
  }

  .footer--end--links {
    margin-top: 10px;
  }
}
/** --------------------Responsive Design-------------------- */
